.details{    background-color: rgba(183, 221, 255, 0.586);

    margin-inline: 30%;
    padding: 10px;
    font-weight: bold;
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
}
.foodItem{
    flex-direction: row;
    justify-content: space-evenly;
}
.inputVal{
    display: flex;
    flex-direction: column;
    
}

.inputVal input{
    width: 90px;
    border: 3px solid rgb(241, 159, 159);
    border-radius: 18%;
    background-color: rgba(255, 255, 255, 0.688);
}

.addBtn{
    border: 3px solid palevioletred;
    background-color: pink;
    border-radius: 10px;
    font-weight: bold;
    color: rgb(103, 48, 57);
}